body{
    margin: 10px;
    background-image: linear-gradient(to right, rgb(59, 59, 59), rgb(161, 161, 161));
    color:white;
    font-family: 'Courier New', monospace;
}

.container a,div{
    color: white;
}

.table{
    color: white;
}