body{
    margin: 10px;
    background-image: linear-gradient(to right, rgb(59, 59, 59), rgb(161, 161, 161));
    color:white;
    font-family: 'Courier New', monospace;
}

.container div img{
    vertical-align: middle;
    margin-bottom: 5px;
}

.container a{
    color: white;
}
