body{
    margin: 10px;
    background-image: linear-gradient(to right, rgb(59, 59, 59), rgb(161, 161, 161));
    color:white;
}

.container{
    width: 100vw;
    height: 100vw;

    font-family: 'Courier New', monospace;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
}

.perfil{
    margin-top: 70px;
    font-size: 12px;
    margin-left: 70px;

}

.menu{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container a{
    color: white;
}

.opcoes{
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    font-size: 22px;
}

table,th,td{
    border: 1px solid white;
}

th,td{
    padding: 10px;
}

caption{
    font-size: 30px;
    font-weight: bold;
}

tbody tr:hover{
    background-color: black;

}