body {
    background-color: rgba(71, 70, 70, 0.801);
    color:white;
}

html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

.row{
    display: flex;
    flex: 50%;
}

.column{
    flex: 50%;
}

.column a{
    color: white;
}